html, body {
    margin:0px;
    padding:0px;
    background-color:#19101C;
    font-family:sans-serif;
    font-size:16px;
    overflow:hidden;
  }
  #logo { 
    position: absolute;
    right:0px;
    bottom:0px;
  }
  .box {
    border-radius: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5vw;
    height: 5vw;
    background-color: aliceblue;
  }